.git
.github
**/.env*
**/node_modules
**/*.log
docker-compose.yml
README.md

frontend/dist

backend/.bundle
backend/log/*
!backend/log/.keep
backend/tmp/*
!backend/tmp/.keep
backend/spa
backend/config/master.key
backend/config/credentials/*.key
